<!DOCTYPE html>
<html lang="en">

 <head>
   <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>BOOTSTRAP</title>
   <!-- CSS only -->
   <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css"
    <!-- JavaScript Bundle with Popper -->
   <link rel="stylesheet" href="style.css">
  </head>

 <body>
 <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Collab</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Use Cases</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-current="page" href="#">Developers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Pricing</a>
          </li>
          <div class="btn-group">
            <a href="#" class="btn btn-light">Sign in</a>
            <a href="#" class="btn btn-warning" aria-current="page">Try for free</a>
    
          </div>
        </ul>
       
      </div>
    </div>
  </nav>

@RenderBody()

<section class="section-eleven">
  <div class="footerr">
  <div class="container">
    <div class="footer"></div>>
    <div class="row">
       <div class="col-lg-2 col-sm-6">
        <ul class="mean">Why Us</ul>
        <ul>
          
          <ul>Channel</ul>
          <ul>Scale</ul>
          <ul>Why Us</ul>
          <ul>Watch Demo</ul>
        </ul>
        
      </div>
      <div class="col-lg-2 col-sm-6">
        <ul class="mean">Product</ul>
        <ul>
          
          <ul>Features</ul>
          <ul>Integrations</ul>
          <ul>Enterprise</ul>
          <ul>Solutions</ul>
        </ul>
        
      </div>
      <div class="col-lg-2 col-sm-6">
        <ul class="mean">Resources</ul>
        <ul>
          
          <ul>Partners</ul>
          <ul>Developers</ul>
          <ul>Apps</ul>
          <ul>Blogs</ul>
        </ul>
        
      </div>
      <div class="col-lg-2 col-sm-6">
        <ul class="mean">Company</ul>
        <ul>
          
          <ul>About Us</ul>
          <ul>Leadership</ul>
          <ul>Investor Relations</ul>
          <ul>News</ul>
        </ul>
        
      </div>
      <div class="col-lg-2 col-sm-6">
        <ul class="mean">Pricing</ul>
        <ul>
          
          <ul>Plans</ul>
          <ul>Paid vs. Free</ul>
        </ul>
        
      </div>

      <div class="col-lg-2 col-sm-6">
        <ul class="mean">Follow</ul>
        <ul>
         
       <div class="icon_social_meda">
        <img src="./images/facebooick.png" alt="">
        <img src="./images/twitter.png" alt="">
        <img src="./images/snapchat.png" alt="">
        <img src="./images/instagram.png" alt="">
       </div>
        </ul>
      </div>
    </div>
    <div class="footer"></div>
    <div class="footer-last">
    <div class="footer-last1"><h6 class="end">All rights Reserved</h6></div>
    <div class="footer-last2"> <h6 class="end">Your Company, 2021</h6></div>
   
  </div>
  </div>

</section>
 </body>

</html>